@import "tailwindcss";

:root {
  --foreground: #171717;
}

@theme {
  --color-background: #f8f7fc;
  --color-foreground: var(--foreground);
  --color-primary: #0ac60a;
  --color-secondary: #8518f1;
  --color-tersier: #fc100d;
  --color-info: #1b59f8;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}
